#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

#main {
  /* padding: 2rem; */
  /* background-color: #4FD1C5; */
}
#main h1 {
  /* text-align: center; */
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
#main p {
  margin-bottom: 1rem;
}
#login_wrapper {
  /* background: rgb(81, 81, 81) url("../public/bg_image3.jpg") center / cover no-repeat; */
  background-color: #636161;
  text-align: center;
}
#login_wrapper h1 {
  color: #2C7A7B;
  margin-bottom: 2rem;
}

.font_round{
  font-family: "Balsamiq Sans", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}


/* @media only screen and (max-width: 600px) {
  .bgteal {
    display: none !important;
  }
} */


